<header class="px-1 pt-4 text-black">
  <nav class ="container mx-auto h-12 flex justify-between items-center">
    <article class="text-2xl font-bold">
      <%#this is equivalent to link_to("sample shit","#",{id:"logo"})%>
      <%= link_to "Q'ed", "/", id: "logo" %> 
    </article> 
    <article class="space-x-8">
      <%#this is equivalent to link_to("hello","#")%>
      <%= link_to "Home",root_path %> 
      <%= link_to "Hello",haaa_path %> 
      <%= link_to "Help", help_path %> 
      <%= link_to "Contact", contact_path %> 
    </article>
  </nav>
</header>
