<header class="px-2 pt-4">
  <nav class ="container bg-tan text-darkBrown rounded-xl px-4 mx-auto h-12 flex justify-between items-center">
    <article class="text-xl">
      <%#this is equivalent to link_to("sample shit","#",{id:"logo"})%>
      <%= link_to "Sample shit", "/", id: "logo" %> 
    </article> 
    <article class="space-x-8">
      <%#this is equivalent to link_to("hello","#")%>
      <%= link_to "Home",root_path %> 
      <%= link_to "Hello",haaa_path %> 
      <%= link_to "Help", help_path %> 
      <%= link_to "Contact", contact_path %> 
    </article>
  </nav>
</header>
